# Betaflight / STM32F7X2 (S7X2) 4.2.0 Jul 16 2020 / 21:10:02 (8b9575d94) MSP API: 1.43

board_name DEVEBOXH743
manufacturer_id EBOX


## Resources

# Pin A01
resource LED 1 A01

# Pin C15:
resource BEEPER 1 D10

# pin PE9: TIM1 CH1
resource MOTOR 1 E09
timer E09 AF1
dma pin E09 0

# pin PE11: TIM1 CH2
resource MOTOR 2 E11
timer E11 AF1
dma pin E11 1

# pin A00: TIM5 CH1
resource SERVO 1 A00
timer A00 AF2
dma pin A00 2

# pin A01: TIM5 CH2
resource SERVO 2 A01
timer A01 AF2
dma pin A01 3

# pin A02: TIM5 CH3
resource SERVO 3 A02
timer A02 AF2
dma pin A02 4

# pin A03: TIM5 CH4
resource SERVO 4 A03
timer A03 AF2
dma pin A03 5

# pin A15: TIM2 CH1
resource FREQ 1 A15
timer A15 AF1

# Serial #1
resource SERIAL_TX 1 A09
resource SERIAL_RX 1 A10

# Serial #2
resource SERIAL_TX 2 D05
resource SERIAL_RX 2 D06

# Serial #3
resource SERIAL_TX 3 D08
resource SERIAL_RX 3 D09

# Serial #4
resource SERIAL_TX 4 D01
resource SERIAL_RX 4 D00

# Serial #6
resource SERIAL_TX 6 C06
resource SERIAL_RX 6 C07

# Serial #7
resource SERIAL_TX 7 E08
resource SERIAL_RX 7 E07

# Serial #8
resource SERIAL_TX 8 E01
resource SERIAL_RX 8 E00

# I2C1
resource I2C_SCL 1  B06
resource I2C_SDA 1  B07

# I2C2
resource I2C_SCL 2  B10
resource I2C_SDA 2  B11

# I2C3
resource I2C_SCL 3  A08
resource I2C_SDA 3  C09

# I2C4
resource I2C_SCL 4  B05
resource I2C_SDA 4  B04

# SPI1
resource SPI_SCK  1 A05
resource SPI_MISO 1 A06
resource SPI_MOSI 1 A07

# Gyro1
resource GYRO_EXTI 1 B00
resource GYRO_CS   1 A04

# SPI2
resource SPI_SCK  2 B13 
resource SPI_MISO 2 B14
resource SPI_MOSI 2 B15

# SPI3 - conflict with SDIO
#resource SPI_SCK  3 C10 
#resource SPI_MISO 3 C11
#resource SPI_MOSI 3 C12

# SPI4
resource SPI_SCK  4 E12
resource SPI_MISO 4 E13
resource SPI_MOSI 4 E14

# SDCARD
resource SDIO_CMD 1 D02
resource SDIO_D0 1  C08
resource SDIO_D1 1  C09
resource SDIO_D2 1  C10
resource SDIO_D3 1  C11
resource SDIO_CK 1  C12

# ADC
resource ADC_BATT 1 C00
resource ADC_RSSI 1 C01
resource ADC_CURR 1 C02
resource ADC_EXT  1 C03

# ADC DMA mapping
dma ADC 1 8
dma ADC 2 9
dma ADC 3 10

# MSP on serial#7
serial 6 1 115200 57600 0 115200


# ADC
set current_meter = ADC
set battery_meter = ADC

# Beeper
set beeper_inversion = OFF
set beeper_od = OFF

# Gyro
set gyro_1_bustype = SPI
set gyro_1_spibus = 1

# SDCARD
set sdio_device = 1
set sdio_use_4bit_width = ON
set sdcard_mode = SDIO

# BlackBox
set blackbox_device = SDCARD

# Board alignment
set align_board_yaw = 0
set align_board_roll = 0
set align_board_pitch = 0

# Motor protocol
set motor_pwm_protocol = DSHOT600

# PID scaler
set pid_process_denom = 1

# ACC default calib
set acc_calibration = 0,0,0,1
